.pic {
  width: 300px;
}

.label {
  font-weight: bold;
}

.name {
  font-weight: bold;
}

.facts {
  font-style: italic;
}

li {
  list-style: none;
  padding: 0;
}

html {
  font-family: montserrat, sans-serif, Arial, Helvetica;
}

.card {
  width: 300px;
  padding: 10px;
  border:1px solid grey;
  box-shadow: 5px 5px rgba(119, 101, 101, 0.3)
}

.cardinfo{
  margin:0;
  padding: 10px;
  border: 1px solid grey;
}
